<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anum.sites.google.com.site.anum20172">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NonLinearMethods"
            android:label="One variable methods"/>
        <activity android:name=".SolutionsOfSystemsOfEquations"
            android:label="Systems of equations"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".InterpolationMethods"
            android:label="Interpolation"/>
        <activity android:name=".Grapher"
            android:label="Grapher"/>
        <activity android:name=".IncSearch"
            android:label="Incremetal Search"/>
        <activity android:name=".FixedPoint"
            android:label="Fixed Point"/>
        <activity android:name=".Secant"
            android:label="Secant"/>
        <activity android:name=".FalseRule"
            android:label="False Rule"/>
        <activity android:name=".Bisection"
            android:label="Bisection"/>
        <activity android:name=".Newton"
            android:label="Newton"/>
        <activity android:name=".MultipleRoots"
            android:label="Multiple roots"/>
        <activity android:name=".Matrix"
            android:label="Incremetal S"/>
        <activity android:name=".NewtonI"
            android:label="Interpolational Newton P"/>
        <activity android:name=".Lagrange"
            android:label="Lagrange"/>
        <activity android:name=".Neville"
            android:label="Neville"/>
    </application>

</manifest>